<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArchiveApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <nav class="navbar bg-base-100 flex justify-between">
            <div>
                <a class="btn btn-ghost text-xl">ArchiveApp</a>
            </div>
            <div>
                <ul class="menu menu-horizontal px-1">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Categories" asp-action="Index">Category</a></li>
                    <li><a asp-area="" asp-controller="SubCategory" asp-action="Index">SubCategory</a></li>
                    <li><a asp-area="" asp-controller="Products" asp-action="Index">Product</a></li>
                </ul>
            </div>
            <div></div>
        </nav>
    </header>

    <div class="container mx-auto p-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer footer-center p-4 bg-base-200 text-base-content">
        <div>
            <p>&copy; 2024 - ArchiveApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
