@model SubCategory

<div class="flex justify-around">
    <div>
        <h2>Sub Category List</h2>
    </div>
    <div>
        <a asp-controller="subCategory" asp-action="Index" class="btn btn-outline-primary">Sub Category Index</a>
    </div>
</div>

<form asp-controller="SubCategory" asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="flex justify-center">
        <div class="w-[750px]">

            <label class="form-control my-4">
                <div class="label">
                    <span class="label-text">Name</span>
                </div>
                <input asp-for="Name" type="text" placeholder="Type here" class="input input-bordered" />
            </label>

            <label class="form-control w-full max-w-xs">
                <div class="label my-4">
                    <span class="label-text">Category</span>
                </div>
                <select asp-for=CategoryId asp-items="ViewBag.Categories" class="select select-bordered">
                    <option disabled selected>Pick one</option>
                </select>
            </label>

            <label class="form-control my-4">
                <div class="label">
                    <span class="label-text">Image</span>
                </div>
                <input asp-for="Image" type="file" class="file-input file-input-bordered" id="formFile"
                    name="ImageFile" />
            </label>

            <button type="submit" class="btn btn-success w-full">Ekle</button>

        </div>
    </div>
</form>