@model IEnumerable<Product>

<div class="container my-5">
    <div class="grid grid-cols-4 gap-6">
        @foreach (var item in Model)
        {
            <div class="card bg-base-100 shadow-xl">
                <figure class="px-10 py-10">
                    <img src="~/image/@item.Image" alt="@item.Name" class="rounded-xl h-40" />
                </figure>
                <div class="card-body items-center text-center">
                    <h2 class="card-title">@item.Name</h2>
                    <p>@item.Description</p>
                    <div class="rating">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <input 
                        type="radio" 
                        name="rating-@item.Id" 
                        class="mask mask-star-2 bg-purple-400" 
                        disabled
                        @(i <= item.Star ? "checked" : "")
                        />
                    }
                    </div>
                    <div class="card-actions">
                        <a href="products/details/@item.Url" class="btn btn-primary">Ürüne Git</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>