@model Category

<form asp-controller="Categories" asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="flex justify-center">
        <div class="w-[750px]">
            <label class="form-control my-4">
                <div class="label">
                    <span class="label-text">Name</span>
                </div>
                <input asp-for="Name" type="text" placeholder="Type here" class="input input-bordered" />

            </label>
            <label class="form-control my-4">
                <div class="label">
                    <span class="label-text">Image</span>
                </div>
                <input asp-for="Image" type="file" class="file-input file-input-bordered" id="formFile"
                    name="ImageFile" />
            </label>
            <button type="submit" class="btn btn-success w-full">Update</button>
        </div>
    </div>
</form>
