@model IEnumerable<Category>

<div class="d-flex justify-content-between">
    <h2>Category List</h2>
    <span><a asp-controller="Categories" asp-action="Create" class="btn btn-outline-primary">Add Category</a></span>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.CategoryId</th>
                <td>@category.Name</td>
                <td>
                    <a asp-controller="Categories" asp-action="Edit" asp-route-Id="@category.CategoryId"
                        class="btn btn-sm btn-warning">Edit</a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal-@category.CategoryId">
                        Delete
                    </button>
                </td>
            </tr>
            @await Html.PartialAsync("_Delete", category)
        }
    </tbody>
</table>
