@model IEnumerable<Category>

<div class="flex justify-between">
    <div>
        <h2>Category List</h2>
    </div>

    <div>
        <a asp-controller="Categories" asp-action="Create" class="btn btn-outline-primary">Add Category</a>
    </div>
</div>

<div class="flex justify-center">
    <div class="w-[750px]">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr class="hover">
                        <th>@category.Id</th>
                        <td>@category.Name</td>
                        <td>
                            <a asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id"
                                class="btn btn-sm btn-warning">Edit</a>
                            <button class="btn btn-sm btn-error"
                                onclick="my_modal_@(category.Id).showModal()">Delete</button>

                        </td>
                    </tr>
                    @await Html.PartialAsync("_Delete", category)
                }
            </tbody>
        </table>
    </div>
</div>