@model Product

<div class="flex justify-between">
  <div>
    <h2>Product List</h2>
  </div>
  <div>
    <a asp-controller="Products" asp-action="Index" class="btn btn-outline-primary">Products Index</a>
  </div>
</div>

<form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">

  <div class="flex justify-center">
    <div class="w-[750px]">

      <label class="form-control my-4">
        <div class="label">
          <span class="label-text">Name</span>
        </div>
        <input asp-for="Name" type="text" placeholder="Type here" class="input input-bordered" />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label my-4">
          <span class="label-text">SubCategory</span>
        </div>
        <select asp-for=SubCategoryId asp-items="ViewBag.SubCategories" class="select select-bordered">
          <option disabled selected>Pick one</option>
        </select>
      </label>

      <label class="form-control my-4">
        <div class="label">
          <span class="label-text">Description</span>
        </div>
        <textarea asp-for="Description" class="textarea textarea-bordered h-24" placeholder="Bio"></textarea>
      </label>

      <label class="form-control my-4">
        <div class="label">
          <span class="label-text">Store</span>
        </div>
        <input asp-for="Store" type="text" placeholder="Type here" class="input input-bordered" />
      </label>

      <label class="form-control my-4">
        <div class="label">
          <span class="label-text">Price</span>
        </div>
        <input asp-for="Price" type="text" placeholder="Type here" class="input input-bordered" />
      </label>

      <label class="form-control my-4">
        <div class="label">
          <span class="label-text">Url</span>
        </div>
        <input asp-for="Url" type="text" placeholder="Type here" class="input input-bordered" />
      </label>

      <label class="form-control my-4">
        <div class="label">
          <span class="label-text">Link</span>
        </div>
        <input asp-for="Link" type="text" placeholder="Type here" class="input input-bordered" />
      </label>

      <div class="rating">
        <input asp-for="Star" type="radio" value="1" class="mask mask-star-2 bg-purple-400" />
        <input asp-for="Star" type="radio" value="2" class="mask mask-star-2 bg-purple-400" />
        <input asp-for="Star" type="radio" value="3" class="mask mask-star-2 bg-purple-400" />
        <input asp-for="Star" type="radio" value="4" class="mask mask-star-2 bg-purple-400" />
        <input asp-for="Star" type="radio" value="5" class="mask mask-star-2 bg-purple-400" />
      </div>

      <label class="form-control my-4">
        <div class="label">
          <span class="label-text">Image</span>
        </div>
        <input asp-for="Image" type="file" class="file-input file-input-bordered" id="formFile" name="ImageFile" />
      </label>

      <div class="form-control my-4">
        <label class="label cursor-pointer">
          <span class="label-text">State?</span>
          <input asp-for="State" type="checkbox" checked="checked" class="checkbox checkbox-primary" />
        </label>
      </div>

      <button type="submit" class="btn btn-success w-full">Ekle</button>

    </div>
  </div>
</form>
